@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Berkshire+Swash&family=Bilbo+Swash+Caps&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Aldrich, sans-serif;
  background-color: #05051c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #9d31ba;
}

::-webkit-scrollbar-thumb:hover {
  background: #d49af8;
}

h1 {
  font-family: Berkshire Swash, sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Mobile/background-header.png");
  background-position: 50% 70%;
  background-size: cover;
}
.header .navbar {
  position: fixed;
  top: 1rem;
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(to bottom, #9d31ba, transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 10rem;
  z-index: 100;
}
.header .navbar__logo {
  height: 5rem;
}
.header .navbar__menu-icon {
  position: relative;
  width: 40px;
  height: 32px;
  cursor: pointer;
}
.header .navbar__menu-icon__line {
  position: absolute;
  background-color: #ffcf40;
  height: 4px;
  border-radius: 0.2rem;
  transition: transform 0.4s;
}
.header .navbar__menu-icon__line:nth-child(1) {
  width: 50%;
  transform-origin: top left;
}
.header .navbar__menu-icon__line:nth-child(1).open {
  transform: translateX(6.8px) rotate(45deg);
}
.header .navbar__menu-icon__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.header .navbar__menu-icon__line:nth-child(2).open {
  transform: translateY(-50%) rotate(-45deg);
}
.header .navbar__menu-icon__line:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 50%;
  transform-origin: bottom right;
}
.header .navbar__menu-icon__line:nth-child(3).open {
  transform: translateX(-6.8px) rotate(45deg);
}
.header .nav {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%) translateX(100%);
  transition: all 0.5s;
}
.header .nav__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header .nav__item {
  background-color: #05051ccc;
  padding: 1rem 4rem;
  margin-bottom: -0.5rem;
  transform: translateX(100%);
  transition: all 0.5s;
}
.header .nav__item:first-of-type {
  padding-top: 3rem;
  border-top-left-radius: 2rem;
}
.header .nav__item:last-of-type {
  padding-bottom: 4rem;
  border-bottom-left-radius: 2rem;
}
.header .nav__link {
  font-size: 2rem;
  color: #ffcf40;
  border-bottom: 2px solid #9d31ba;
  display: block;
  padding: 1rem;
}
.header .content__dj-img {
  width: 250px;
  margin: 10rem 0 0 1rem;
  animation: flashDj 3s ease-in-out infinite;
}
@keyframes flashDj {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
.header .content__heading {
  font-size: 3.5rem;
  font-family: Bilbo Swash Caps, sans-serif;
  color: #ffcf40;
  font-weight: normal;
  letter-spacing: 0.1rem;
  text-align: left;
  margin: 2rem 0 0 2rem;
  animation: showHeading 1s ease-in;
}
@keyframes showHeading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .button {
  position: relative;
  background-color: transparent;
  width: 15rem;
  height: 6rem;
  color: #ffcf40;
  font-size: 2rem;
  font-family: inherit;
  display: block;
  margin: 4rem auto 0;
  border: 0;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
  z-index: 100;
}
.header .button:hover, .header .button:active {
  box-shadow: 0 0 10px 4px #9d31ba inset;
}
.header .button:hover .button__line, .header .button:active .button__line {
  animation-play-state: paused;
}
.header .button__line {
  position: absolute;
  border-radius: 10rem;
  transition: 1s;
}
.header .button__line:nth-child(1) {
  background-image: linear-gradient(to right, transparent, #d49af8);
  width: 100%;
  height: 0.4rem;
  top: 0;
  left: -100%;
  animation: line-1-move 1s linear infinite;
}
.header .button__line:nth-child(2) {
  background-image: linear-gradient(to bottom, transparent, #f89acd);
  width: 0.4rem;
  height: 100%;
  top: -100%;
  right: 0;
  animation: line-2-move 1s linear infinite;
}
.header .button__line:nth-child(3) {
  background-image: linear-gradient(to left, transparent, #d49af8);
  width: 100%;
  height: 0.4rem;
  bottom: 0;
  right: -100%;
  animation: line-3-move 1s linear infinite;
}
.header .button__line:nth-child(4) {
  background-image: linear-gradient(to top, transparent, #f89acd);
  width: 0.4rem;
  height: 100%;
  bottom: -100%;
  left: 0;
  animation: line-4-move 1s linear infinite;
}
@keyframes line-1-move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes line-2-move {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes line-3-move {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes line-4-move {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
.header .music-icon {
  width: 5rem;
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;
}
.header .music-icon:hover, .header .music-icon:active {
  transform: scale(1.1) rotate(360deg);
}
.header .connector {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(transparent, #05051c);
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 576px) {
  .header .content {
    display: flex;
    align-items: flex-end;
  }
  .header .content__heading {
    order: -1;
  }
  .header .button {
    margin-top: 1rem;
  }
  .header .music-icon {
    bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .header .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .content__heading {
    font-size: 4rem;
    width: 85%;
    margin-top: 5rem;
  }
  .header .content__dj-img {
    width: 400px;
    order: -1;
    margin-top: 15rem;
  }
  .header .button {
    margin-top: 8rem;
    width: 200px;
    height: 80px;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .header {
    background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Desktop/bg-header.png");
    background-position: 0 50%;
  }
  .header .navbar__logo {
    margin: 0 0 0 7rem;
  }
  .header .navbar__menu-icon {
    display: none;
  }
  .header .nav {
    position: initial;
    transform: none;
    margin-right: 180px;
  }
  .header .nav__links {
    flex-direction: row;
  }
  .header .nav__item {
    transform: translateX(0);
    background-color: transparent;
    margin-bottom: 0;
  }
  .header .nav__item:first-of-type {
    padding-top: 1rem;
    border-top-left-radius: 0;
  }
  .header .nav__item:last-of-type {
    padding-bottom: 0;
    border-bottom-left-radius: 0;
  }
  .header .nav__link {
    padding: 1rem 0;
    border: none;
    position: relative;
  }
  .header .nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcf40;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.7s;
  }
  .header .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcf40;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.7s;
  }
  .header .nav__link:hover::before, .header .nav__link:hover::after {
    transform: scaleX(1);
  }
  .header .content {
    flex-direction: row;
    align-items: center;
  }
  .header .content__heading {
    order: -2;
    width: 555px;
    margin: 25rem 9rem 0 9rem;
    text-align: left;
  }
  .header .content__dj-img {
    transform: translateY(5rem);
  }
  .header .button {
    margin-top: 12rem;
  }
  .header .button__line:nth-child(1), .header .button__line:nth-child(3) {
    height: 0.6rem;
  }
  .header .button__line:nth-child(2), .header .button__line:nth-child(4) {
    width: 0.6rem;
  }
  .header .music-icon {
    bottom: 5rem;
    right: 5rem;
  }
}
.about-us {
  background-image: url(./../img/Mobile/bg-about-us.png);
  background-size: cover;
}
.about-us .heading {
  color: #ffcf40;
  font-size: 3rem;
  margin: 3rem 0;
}
.about-us .heading__plant {
  width: 30px;
}
.about-us .content__party {
  display: block;
  width: 250px;
  margin: 0 auto 5rem;
  border-radius: 2rem;
  box-shadow: 0 0 50px 2px #9d31ba;
}
.about-us .content__description {
  color: #9d31ba;
  font-size: 2rem;
  margin: 0 2.5rem;
  padding-bottom: 14rem;
}
.about-us .text-video {
  position: relative;
  height: 50vh;
  margin: -10rem 0 7rem;
}
.about-us .text-video__text {
  font-family: sans-serif;
  font-size: 10rem;
  font-weight: 900;
  line-height: 100%;
  position: absolute;
  inset: 0;
  background-color: #05051c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: multiply;
}
.about-us .text-video__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 576px) {
  .about-us {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 10%;
  }
  .about-us .text-video {
    height: 70vh;
    margin-top: -10rem;
  }
}
@media screen and (min-width: 768px) {
  .about-us .text-video {
    height: 300px;
    margin-top: -5rem;
  }
}
@media screen and (min-width: 992px) {
  .about-us {
    background-image: url(./../img/Desktop/bg-about-us.png);
    background-position: 0 -10rem;
  }
  .about-us .heading {
    font-size: 4rem;
    margin: 7rem 0;
  }
  .about-us .heading__plant {
    width: 48px;
  }
  .about-us .content {
    display: flex;
    justify-content: center;
  }
  .about-us .content__party {
    width: 480px;
  }
  .about-us .content__description {
    width: 50%;
  }
  .about-us .text-video {
    margin: 10rem 0 15rem;
  }
  .about-us .text-video__text {
    font-size: 200px;
  }
}
.our-djs {
  margin-top: 5rem;
  background-image: linear-gradient(rgba(5, 5, 28, 0.7), rgba(5, 5, 28, 0.7)), url(./../img/Common/bg-our-djs.png);
  background-size: cover;
}
.our-djs .connector {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(transparent, #05051c);
  position: absolute;
  bottom: 0;
}
.our-djs .heading {
  font-size: 3rem;
  color: #ffcf40;
  padding: 3rem 0;
  z-index: 10;
}
.our-djs .heading__plant {
  width: 30px;
}
.our-djs .slider {
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.our-djs .slider__container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: auto;
}
.our-djs .slider__container::-webkit-scrollbar {
  display: none;
}
.our-djs .slider .fas {
  font-size: 30px;
  color: #ffcf40;
  margin: 0 5px;
  cursor: pointer;
}
.our-djs .slider__card {
  margin-right: 2rem;
  transition: all 0.5s;
}
.our-djs .slider__photo {
  width: 270px;
}
.our-djs .slider__text {
  font-size: 1.7rem;
  color: #f89acd;
  width: 270px;
  height: 430px;
  padding: 1.5rem;
  border: 2px solid #ffcf40;
  border-radius: 0 0 1rem 1rem;
}

@media screen and (min-width: 992px) {
  .our-djs .heading {
    font-size: 4rem;
  }
  .our-djs .heading__plant {
    width: 48px;
  }
}
.upcoming-events {
  background-image: url(./../img/Mobile/bg-upcoming-events.png);
  background-size: cover;
  padding-top: 5rem;
}
.upcoming-events .heading {
  font-size: 3rem;
  color: #ffcf40;
  padding-top: 2rem;
}
.upcoming-events .heading__plant {
  width: 30px;
}
.upcoming-events .events {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 8rem;
}
.upcoming-events .events__event {
  width: 250px;
  height: 350px;
  box-shadow: 0 4px 20px 10px #9d31ba;
  animation: translateEvent 1s ease-in 1 forwards;
  transition: all 0.5s;
}
.upcoming-events .events__event:nth-child(1) {
  transform: translateX(20%) rotate(20deg);
  transform-origin: bottom right;
}
.upcoming-events .events__event:nth-child(2) {
  transform: translateX(-20%) rotate(-20deg);
  transform-origin: bottom left;
}
@keyframes translateEvent {
  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@media screen and (min-width: 576px) {
  .upcoming-events {
    background-image: url(./../img/Desktop/bg-upcoming-events.png);
    background-position: 0 -80px;
  }
  .upcoming-events .events {
    flex-direction: row;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .upcoming-events {
    background-position: 0 -170px;
  }
}
@media screen and (min-width: 992px) {
  .upcoming-events {
    background-position: 0 -400px;
    padding-bottom: 10rem;
  }
  .upcoming-events .heading {
    font-size: 4rem;
  }
  .upcoming-events .heading__plant {
    width: 48px;
  }
  .upcoming-events .events {
    gap: 14rem;
  }
  .upcoming-events .events__event {
    width: 480px;
    height: 680px;
    animation: none;
  }
}
.gallery .heading {
  font-size: 3rem;
  color: #ffcf40;
}
.gallery .heading__plant {
  width: 30px;
}
.gallery .caption {
  font-size: 1.7rem;
  color: #d49af8;
  text-align: center;
  margin: 1rem auto 3rem;
  width: 90%;
  max-width: 850px;
}
.gallery .photos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}
.gallery .photos-container__photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80px;
  height: 250px;
  border-radius: 5rem;
  margin: 0.7rem;
  cursor: pointer;
  transition: width 1s ease-in-out, filter 0.2s ease-in;
}
.gallery .photos-container__photo.active {
  order: -1;
  width: 100%;
}
.gallery .photos-container__photo:hover {
  filter: contrast(140%);
}
.gallery .photos-container__photo:nth-child(1) {
  background-image: url(./../img/Common/photo-1.png);
}
.gallery .photos-container__photo:nth-child(2) {
  background-image: url(./../img/Common/photo-2.png);
}
.gallery .photos-container__photo:nth-child(3) {
  background-image: url(./../img/Common/photo-3.png);
}
.gallery .photos-container__photo:nth-child(4) {
  background-image: url(./../img/Common/photo-4.png);
}
.gallery .photos-container__photo:nth-child(5) {
  background-image: url(./../img/Common/photo-5.png);
}
.gallery .photos-container__photo:nth-child(6) {
  background-image: url(./../img/Common/photo-6.png);
}
.gallery .photos-container__photo:nth-child(7) {
  background-image: url(./../img/Common/photo-7.png);
}
.gallery .photos-container__photo:nth-child(8) {
  background-image: url(./../img/Common/photo-8.png);
}

@media screen and (min-width: 576px) {
  .gallery .photos-container {
    width: 98%;
  }
}
@media screen and (min-width: 992px) {
  .gallery .heading {
    font-size: 4rem;
  }
  .gallery .heading__plant {
    width: 48px;
  }
  .gallery .caption {
    font-size: 2rem;
  }
  .gallery .photos-container {
    width: 100%;
    max-width: 1600px;
    flex-wrap: nowrap;
  }
  .gallery .photos-container__photo {
    width: 120px;
    height: 500px;
  }
  .gallery .photos-container__photo.active {
    width: 600px;
    order: 0;
  }
}
.faq {
  margin-top: 4rem;
}
.faq .heading {
  font-size: 3rem;
  color: #ffcf40;
  margin-bottom: 1rem;
}
.faq .heading__plant {
  width: 30px;
}
.faq .caption {
  font-size: 1.7rem;
  color: #d49af8;
  text-align: center;
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
}
.faq .questions-container {
  margin-top: 2.5rem;
}
.faq .questions-container .question {
  width: 90%;
  border: 2px solid #9d31ba;
  margin: 0 auto 1.5rem;
  padding: 2rem 1rem;
  position: relative;
  overflow: hidden;
}
.faq .questions-container .question.active {
  box-shadow: 2px 2px 3px #9d31ba;
}
.faq .questions-container .question.active::before, .faq .questions-container .question.active::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-size: 8rem;
  opacity: 0.3;
}
.faq .questions-container .question.active::before {
  color: #ffcf40;
  top: 2rem;
  left: 2rem;
}
.faq .questions-container .question.active::after {
  color: #f89acd;
  top: -1rem;
  left: -3rem;
  transform: rotateY(180deg);
}
.faq .questions-container .question.active .question__answer {
  display: block;
}
.faq .questions-container .question.active .question__button {
  transform: rotate(45deg);
}
.faq .questions-container .question__title {
  font-size: 1.7rem;
  color: #f89acd;
  width: 85%;
}
.faq .questions-container .question__answer {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #9d31ba;
  display: none;
}
.faq .questions-container .question__button {
  width: 30px;
  height: 30px;
  color: #ffcf40;
  font-size: 4rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}

@media screen and (min-width: 992px) {
  .faq {
    margin-top: 8rem;
  }
  .faq .heading {
    font-size: 4rem;
  }
  .faq .heading__plant {
    width: 48px;
  }
  .faq .caption {
    font-size: 2rem;
  }
  .faq .questions-container .question {
    max-width: 60%;
  }
}
.footer {
  margin-top: 4rem;
  background-image: linear-gradient(rgba(5, 5, 28, 0.4), rgba(5, 5, 28, 0.4)), url(./../img/Common/bg-footer.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.footer .connector {
  width: 100%;
  height: 100px;
  background-image: linear-gradient(transparent, #05051c);
  position: absolute;
  transform: rotate(180deg);
  top: 0;
}
.footer .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 70%;
  padding: 6rem 0;
  margin: 0 auto;
}
.footer .content__logo {
  width: 80px;
}
.footer .content__text {
  color: #fff;
  font-size: 1.5rem;
  z-index: 100;
}

@media screen and (min-width: 992px) {
  .footer .content__logo {
    width: 120px;
  }
  .footer .content__text {
    font-size: 2rem;
  }
}
.drinks-menu {
  background-image: linear-gradient(rgba(5, 5, 28, 0.7), rgba(5, 5, 28, 0.7)), url(./../img/Common/drinks/bg-drinks-menu.jpg);
  background-size: cover;
  background-position: 40% center;
  background-color: #05051c;
  height: 100%;
}
.drinks-menu .heading {
  font-size: 3rem;
  color: #ffcf40;
  padding-top: 3rem;
}
.drinks-menu .heading__plant {
  width: 30px;
}
.drinks-menu .drinks {
  width: 95%;
  margin: 2rem auto 0;
  padding-bottom: 2rem;
}
.drinks-menu .drinks__drink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.drinks-menu .drinks__drink__name {
  font-size: 2rem;
  color: #f89acd;
  flex-basis: 30%;
}
.drinks-menu .drinks__drink__ingredients {
  font-size: 1.5rem;
  color: #f89acd;
  flex-basis: 40%;
}
.drinks-menu .drinks__drink__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.drinks-menu + .footer {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .drinks-menu {
    background-position-x: -200px;
    margin-bottom: -5rem;
  }
  .drinks-menu .heading {
    font-size: 4rem;
  }
  .drinks-menu .heading__plant {
    width: 48px;
  }
  .drinks-menu .drinks {
    width: 80%;
  }
  .drinks-menu .drinks__drink {
    margin-top: 2rem;
  }
  .drinks-menu .drinks__drink__name {
    font-size: 3rem;
  }
  .drinks-menu .drinks__drink__ingredients {
    font-size: 2rem;
  }
  .drinks-menu .drinks__drink__picture {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .drinks-menu + .footer {
    margin-top: 5rem;
  }
}
.rules {
  margin-top: 3rem;
}
.rules .heading {
  font-size: 3rem;
  color: #ffcf40;
}
.rules .heading__plant {
  width: 30px;
}
.rules .rules-container {
  margin: 2rem auto 0;
  width: 90%;
}
.rules .rules-container__rule {
  color: #9d31ba;
  font-size: 1.7rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50px 1fr;
}
.rules .rules-container__rule__number {
  width: 30px;
  height: 30px;
  background-color: #d49af8;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .rules .heading {
    font-size: 4rem;
  }
  .rules .heading__plant {
    width: 48px;
  }
}
.contact {
  margin-top: 3rem;
}
.contact .heading {
  font-size: 3rem;
  color: #ffcf40;
}
.contact .heading__plant {
  width: 30px;
}
.contact .info {
  margin: 3rem 0;
}
.contact .info__text {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}
.contact .info__text:nth-child(odd) {
  margin-top: 1.5rem;
}
.contact .map {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contact .map {
    padding-bottom: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .contact .heading {
    font-size: 4rem;
    color: #ffcf40;
  }
  .contact .heading__plant {
    width: 48px;
  }
  .contact .info__text {
    font-size: 2.4rem;
  }
  .contact .map {
    max-width: 1000px;
    display: block;
    margin: 0 auto;
    margin-top: 7rem;
  }
}
.reservations {
  background-image: linear-gradient(rgba(5, 5, 28, 0.6), rgba(5, 5, 28, 0.6)), url(./../img/Common/bg-reservations.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}
.reservations .heading {
  font-size: 3rem;
  color: #ffcf40;
  padding: 3rem 0 2rem;
}
.reservations .heading__plant {
  width: 30px;
}
.reservations .option {
  text-align: center;
  margin-bottom: 5rem;
}
.reservations .option__name {
  color: #f89acd;
  font-size: 2.8rem;
  margin-bottom: 1rem;
}
.reservations .option__description {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}
.reservations .option__item {
  font-size: 1.7rem;
  color: #fff;
}
.reservations .option__price {
  color: #f89acd;
  font-size: 2.8rem;
  margin: 1.5rem 0;
}
.reservations .option__button {
  color: #9d31ba;
  font-size: 1.7rem;
  background-color: transparent;
  padding: 1rem 3rem;
  font-family: inherit;
  border: 3px solid #9d31ba;
  cursor: pointer;
  transition: all 0.5s;
}
.reservations .option__button:hover, .reservations .option__button:active {
  background-color: #9d31ba;
  color: #fff;
}
.reservations + .footer {
  margin-top: 1rem;
}

.player {
  background-image: linear-gradient(rgba(18, 18, 54, 0.3), rgba(5, 5, 28, 0.3)), url(./../img/Common/bg-player2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.player .heading {
  font-size: 3rem;
  color: #ffcf40;
  margin: 0 auto;
  width: 90%;
  padding: 3rem 0 2rem;
}
.player .heading__plant {
  width: 30px;
}
.player .player-container {
  height: 480px;
  width: 320px;
  border: 4px solid #9d31ba;
  border-radius: 20px;
  margin: 0 auto 0;
  box-shadow: 0 0 10px 2px #9d31ba;
}
.player .player-container .music-info__title {
  font-size: 2.2rem;
  color: #ffcf40;
  text-align: center;
  margin: 1rem 0;
}
.player .player-container .music-info__progress {
  background-color: rgba(5, 5, 28, 0.5);
  border-radius: 5px;
  cursor: pointer;
  height: 10px;
  width: 90%;
  margin: 0 auto 1rem;
}
.player .player-container .music-info__progress__bar {
  height: 100%;
  width: 0;
  background-color: #f89acd;
  border-radius: 5px;
  transition: 0.2s all linear;
}
.player .player-container .video {
  width: 100%;
  border-radius: 15px 15px 0 0;
  border-bottom: 4px solid #9d31ba;
}
.player .player-container .navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.player .player-container .navigation__action-btn {
  border: 2px solid #9d31ba;
  background-color: transparent;
  font-size: 2.5rem;
  color: #9d31ba;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.player .player-container .navigation__action-btn:hover {
  color: #f89acd;
}
.player .player-container .vinyl {
  width: 120px;
  height: 120px;
  display: block;
  margin: 0 auto 1.5rem;
  animation: rotateVinyl 3s linear infinite forwards;
  animation-play-state: paused;
}
.player .player-container .vinyl.active {
  animation-play-state: running;
}

@keyframes rotateVinyl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 576px) {
  .player {
    height: 200vh;
  }
  .player .player-container {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .player {
    height: 100vh;
  }
}
@media screen and (min-width: 992px) {
  .player .heading {
    font-size: 4rem;
  }
  .player .heading__plant {
    width: 48px;
  }
}

/*# sourceMappingURL=style.css.map */
