@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Berkshire+Swash&family=Bilbo+Swash+Caps&family=Roboto&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Aldrich, sans-serif;
  background-color: #05051c;
}

h1 {
  font-family: Berkshire Swash, sans-serif;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Mobile/background-header.png");
  background-position: 50% 70%;
  background-size: cover;
}
.header .navbar {
  position: fixed;
  top: 1rem;
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(to bottom, #9d31ba, transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-radius: 10rem;
  z-index: 100;
}
.header .navbar__logo {
  height: 5rem;
}
.header .navbar__menu-icon {
  position: relative;
  width: 40px;
  height: 32px;
  cursor: pointer;
}
.header .navbar__menu-icon__line {
  position: absolute;
  background-color: #ffcf40;
  height: 4px;
  border-radius: 0.2rem;
  transition: transform 0.4s;
}
.header .navbar__menu-icon__line:nth-child(1) {
  width: 50%;
  transform-origin: top left;
}
.header .navbar__menu-icon__line:nth-child(1).open {
  transform: translateX(6.8px) rotate(45deg);
}
.header .navbar__menu-icon__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.header .navbar__menu-icon__line:nth-child(2).open {
  transform: translateY(-50%) rotate(-45deg);
}
.header .navbar__menu-icon__line:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 50%;
  transform-origin: bottom right;
}
.header .navbar__menu-icon__line:nth-child(3).open {
  transform: translateX(-6.8px) rotate(45deg);
}
.header .nav {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(100%) translateX(100%);
  transition: all 0.5s;
}
.header .nav__links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.header .nav__item {
  background-color: #05051ccc;
  padding: 1rem 4rem;
  margin-bottom: -0.5rem;
  transform: translateX(100%);
  transition: all 0.5s;
}
.header .nav__item:first-of-type {
  padding-top: 3rem;
  border-top-left-radius: 2rem;
}
.header .nav__item:last-of-type {
  padding-bottom: 4rem;
  border-bottom-left-radius: 2rem;
}
.header .nav__link {
  font-size: 2rem;
  color: #ffcf40;
  border-bottom: 2px solid #9d31ba;
  display: block;
  padding: 1rem;
}
.header .content__dj-img {
  width: 250px;
  margin: 10rem 0 0 1rem;
  animation: flashDj 3s ease-in-out infinite;
}
@keyframes flashDj {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
.header .content__heading {
  font-size: 3.5rem;
  font-family: Bilbo Swash Caps, sans-serif;
  color: #ffcf40;
  font-weight: normal;
  letter-spacing: 0.1rem;
  margin: 2rem 0 0 2rem;
  animation: showHeading 1s ease-in;
}
@keyframes showHeading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header .button {
  position: relative;
  background-color: transparent;
  width: 15rem;
  height: 6rem;
  color: #ffcf40;
  font-size: 2rem;
  font-family: inherit;
  display: block;
  margin: 4rem auto 0;
  border: 0;
  overflow: hidden;
  transition: all 0.3s;
  cursor: pointer;
}
.header .button:hover, .header .button:active {
  box-shadow: 0 0 10px 4px #9d31ba inset;
}
.header .button:hover .button__line, .header .button:active .button__line {
  animation-play-state: paused;
}
.header .button__line {
  position: absolute;
  border-radius: 10rem;
  transition: 1s;
}
.header .button__line:nth-child(1) {
  background-image: linear-gradient(to right, transparent, #d49af8);
  width: 100%;
  height: 0.4rem;
  top: 0;
  left: -100%;
  animation: line-1-move 1s linear infinite;
}
.header .button__line:nth-child(2) {
  background-image: linear-gradient(to bottom, transparent, #f89acd);
  width: 0.4rem;
  height: 100%;
  top: -100%;
  right: 0;
  animation: line-2-move 1s linear infinite;
}
.header .button__line:nth-child(3) {
  background-image: linear-gradient(to left, transparent, #d49af8);
  width: 100%;
  height: 0.4rem;
  bottom: 0;
  right: -100%;
  animation: line-3-move 1s linear infinite;
}
.header .button__line:nth-child(4) {
  background-image: linear-gradient(to top, transparent, #f89acd);
  width: 0.4rem;
  height: 100%;
  bottom: -100%;
  left: 0;
  animation: line-4-move 1s linear infinite;
}
@keyframes line-1-move {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes line-2-move {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}
@keyframes line-3-move {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}
@keyframes line-4-move {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 100%;
  }
}
.header .music-icon {
  width: 5rem;
  position: fixed;
  right: 2rem;
  bottom: 5rem;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 100;
}
.header .music-icon:hover, .header .music-icon:active {
  transform: scale(1.1) rotate(360deg);
}

@media screen and (min-width: 576px) {
  .header .content {
    display: flex;
    align-items: flex-end;
  }
  .header .content__heading {
    order: -1;
  }
  .header .button {
    margin-top: 1rem;
  }
  .header .music-icon {
    bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .header .content {
    flex-direction: column;
    align-items: flex-start;
  }
  .header .content__heading {
    font-size: 5rem;
    width: 85%;
    margin-top: 5rem;
  }
  .header .content__dj-img {
    width: 400px;
    order: -1;
    margin-top: 15rem;
  }
  .header .button {
    margin-top: 8rem;
    width: 200px;
    height: 80px;
    font-size: 2.4rem;
  }
}
@media screen and (min-width: 992px) {
  .header {
    background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Desktop/bg-header.png");
    background-position: 0 50%;
  }
  .header .navbar__logo {
    margin: 0 0 0 7rem;
  }
  .header .navbar__menu-icon {
    display: none;
  }
  .header .nav {
    position: initial;
    transform: none;
    margin-right: 180px;
  }
  .header .nav__links {
    flex-direction: row;
  }
  .header .nav__item {
    transform: translateX(0);
    background-color: transparent;
    margin-bottom: 0;
  }
  .header .nav__item:first-of-type {
    padding-top: 1rem;
    border-top-left-radius: 0;
  }
  .header .nav__item:last-of-type {
    padding-bottom: 0;
    border-bottom-left-radius: 0;
  }
  .header .nav__link {
    padding: 1rem 0;
    border: none;
    position: relative;
  }
  .header .nav__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcf40;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.7s;
  }
  .header .nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffcf40;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.7s;
  }
  .header .nav__link:hover::before, .header .nav__link:hover::after {
    transform: scaleX(1);
  }
  .header .content {
    flex-direction: row;
    align-items: center;
  }
  .header .content__heading {
    order: -2;
    width: 555px;
    margin: 25rem 9rem 0 9rem;
  }
  .header .content__dj-img {
    transform: translateY(5rem);
  }
  .header .button {
    margin-top: 12rem;
  }
  .header .button__line:nth-child(1), .header .button__line:nth-child(3) {
    height: 0.6rem;
  }
  .header .button__line:nth-child(2), .header .button__line:nth-child(4) {
    width: 0.6rem;
  }
  .header .music-icon {
    bottom: 5rem;
    right: 5rem;
  }
  .header .connector {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(transparent, #05051c);
    position: absolute;
    bottom: 0;
  }
}
.about-us {
  height: 100vh;
}

/*# sourceMappingURL=style.css.map */
