@use "./../base/typography" as typo;
@use "./../base/colors" as colors;
@use "./../base/breakpoints" as mq;
@use "./../components/components" as *;

.gallery {
    & .heading {
        font-size: typo.$heading-small;
        color: colors.$complementary;

        &__plant {
            width: 30px;
        }
    }

    & .caption {
        font-size: typo.$text-medium;
        color: colors.$secondary;
        text-align: center;
        margin: 1rem auto 3rem;
        width: 90%;
        max-width: 850px;
    }

    & .photos-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        width: 90%;
        margin: 0 auto;

        &__photo {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            width: 80px;
            height: 250px;
            border-radius: 5rem;
            margin: 0.7rem;

            cursor: pointer;
            transition: width 1s ease-in-out, filter 0.2s ease-in;

            &.active {
                order: -1;
                width: 100%;
            }

            &:hover {
                filter: contrast(140%);
            }

            &:nth-child(1) {
                background-image: url(./../img/Common/photo-1.png);
            }

            &:nth-child(2) {
                background-image: url(./../img/Common/photo-2.png);
            }

            &:nth-child(3) {
                background-image: url(./../img/Common/photo-3.png);
            }

            &:nth-child(4) {
                background-image: url(./../img/Common/photo-4.png);
            }

            &:nth-child(5) {
                background-image: url(./../img/Common/photo-5.png);
            }

            &:nth-child(6) {
                background-image: url(./../img/Common/photo-6.png);
            }

            &:nth-child(7) {
                background-image: url(./../img/Common/photo-7.png);
            }

            &:nth-child(8) {
                background-image: url(./../img/Common/photo-8.png);
            }
        }
    }
}

@media screen and (min-width: mq.$small) {
    .gallery {
        & .photos-container {
            width: 98%;
        }
    }
}

@media screen and (min-width: mq.$big) {
    .gallery {
        & .heading {
            font-size: typo.$heading-big;
        }

        & .caption {
            font-size: typo.$text-main;
        }

        & .photos-container {
            width: 100%;
            max-width: 1600px;
            flex-wrap: nowrap;

            &__photo {
                width: 120px;
                height: 500px;

                &.active {
                    width: 600px;
                    order: 0;
                }
            }
        }
    }
}
