@use "./../base/typography" as typo;
@use "./../base/colors" as colors;
@use "./../base/breakpoints" as mq;
@use "./../components/components" as *;

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Mobile/background-header.png");
    background-position: 50% 70%;
    background-size: cover;

    & .navbar {
        position: fixed;
        top: 1rem;

        width: 100%;
        height: 8rem;
        background-image: linear-gradient(to bottom, colors.$primary, transparent);

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px;
        border-radius: 10rem;

        z-index: 100;

        &__logo {
            height: 5rem;
        }

        &__menu-icon {
            position: relative;

            width: 40px;
            height: 32px;

            cursor: pointer;

            &__line {
                position: absolute;

                background-color: colors.$complementary;
                height: 4px;
                border-radius: 0.2rem;
                transition: transform 0.4s;

                &:nth-child(1) {
                    width: 50%;

                    transform-origin: top left;

                    &.open {
                        transform: translateX(6.8px) rotate(45deg);
                    }
                }

                &:nth-child(2) {
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;

                    &.open {
                        transform: translateY(-50%) rotate(-45deg);
                    }
                }

                &:nth-child(3) {
                    bottom: 0;
                    right: 0;
                    width: 50%;

                    transform-origin: bottom right;

                    &.open {
                        transform: translateX(-6.8px) rotate(45deg);
                    }
                }
            }
        }
    }

    & .nav {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(100%) translateX(100%);
        transition: all 0.5s;

        &__links {
            display: flex;
            flex-direction: column;
            list-style: none;
        }

        &__item {
            background-color: #05051ccc;
            padding: 1rem 4rem;
            margin-bottom: -0.5rem;

            transform: translateX(100%);
            transition: all 0.5s;

            &:first-of-type {
                padding-top: 3rem;
                border-top-left-radius: 2rem;
            }

            &:last-of-type {
                padding-bottom: 4rem;
                border-bottom-left-radius: 2rem;
            }
        }

        // &__item:first-of-type {
        //     padding-top: 3rem;
        //     border-top-left-radius: 2rem;
        // }

        // &__item:last-of-type {
        //     padding-bottom: 4rem;
        //     border-bottom-left-radius: 2rem;
        // }

        &__link {
            font-size: typo.$text-main;
            color: colors.$complementary;
            border-bottom: 2px solid colors.$primary;
            display: block;
            padding: 1rem;
        }
    }

    & .content {
        &__dj-img {
            width: 250px;
            margin: 10rem 0 0 1rem;

            animation: flashDj 3s ease-in-out infinite;
        }

        @keyframes flashDj {
            0% {
                opacity: 0;
            }

            5% {
                opacity: 1;
            }

            10% {
                opacity: 0;
            }

            25% {
                opacity: 1;
            }
        }

        &__heading {
            font-size: 3.5rem;
            font-family: Bilbo Swash Caps, sans-serif;
            color: colors.$complementary;
            font-weight: normal;
            letter-spacing: 0.1rem;
            text-align: left;

            margin: 2rem 0 0 2rem;

            animation: showHeading 1s ease-in;
        }

        @keyframes showHeading {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    & .button {
        @include btn-laser-base;
        z-index: 100;

        &:hover,
        &:active {
            box-shadow: 0 0 10px 4px colors.$primary inset;

            .button__line {
                animation-play-state: paused;
            }
        }

        &__line {
            position: absolute;
            border-radius: 10rem;
            transition: 1s;

            &:nth-child(1) {
                background-image: linear-gradient(to right, transparent, colors.$secondary);
                width: 100%;
                height: 0.4rem;

                top: 0;
                left: -100%;

                animation: line-1-move 1s linear infinite;
            }

            &:nth-child(2) {
                background-image: linear-gradient(to bottom, transparent, colors.$tertiary);
                width: 0.4rem;
                height: 100%;

                top: -100%;
                right: 0;

                animation: line-2-move 1s linear infinite;
            }

            &:nth-child(3) {
                background-image: linear-gradient(to left, transparent, colors.$secondary);
                width: 100%;
                height: 0.4rem;

                bottom: 0;
                right: -100%;

                animation: line-3-move 1s linear infinite;
            }

            &:nth-child(4) {
                background-image: linear-gradient(to top, transparent, colors.$tertiary);
                width: 0.4rem;
                height: 100%;

                bottom: -100%;
                left: 0;

                animation: line-4-move 1s linear infinite;
            }

            @keyframes line-1-move {
                0% {
                    left: -100%;
                }

                100% {
                    left: 100%;
                }
            }

            @keyframes line-2-move {
                0% {
                    top: -100%;
                }

                100% {
                    top: 100%;
                }
            }

            @keyframes line-3-move {
                0% {
                    right: -100%;
                }

                100% {
                    right: 100%;
                }
            }

            @keyframes line-4-move {
                0% {
                    bottom: -100%;
                }

                100% {
                    bottom: 100%;
                }
            }
        }
    }

    & .music-icon {
        width: 5rem;
        position: fixed;
        right: 2rem;
        bottom: 5rem;
        cursor: pointer;
        transition: all 0.3s;
        z-index: 100;

        &:hover,
        &:active {
            transform: scale(1.1) rotate(360deg);
        }
    }

    & .connector {
        @include connector;
    }
}

@media screen and (min-width: mq.$small) {
    .header {
        & .content {
            display: flex;
            align-items: flex-end;

            &__heading {
                order: -1;
            }
        }

        & .button {
            margin-top: 1rem;
        }

        & .music-icon {
            bottom: 2rem;
        }
    }
}

@media screen and (min-width: mq.$medium) {
    .header {
        & .content {
            flex-direction: column;
            align-items: flex-start;

            &__heading {
                font-size: typo.$heading-big;
                width: 85%;
                margin-top: 5rem;
            }

            &__dj-img {
                width: 400px;
                order: -1;
                margin-top: 15rem;
            }
        }

        & .button {
            margin-top: 8rem;
            width: 200px;
            height: 80px;
            font-size: 2.4rem;
        }
    }
}

@media screen and (min-width: mq.$big) {
    .header {
        background-image: linear-gradient(rgba(5, 5, 28, 0.1), rgba(5, 5, 28, 0.1)), url("./../img/Desktop/bg-header.png");
        background-position: 0 50%;

        & .navbar {
            // position: initial;

            &__logo {
                margin: 0 0 0 7rem;
            }

            &__menu-icon {
                display: none;
            }
        }

        & .nav {
            position: initial;
            transform: none;
            margin-right: 180px;

            &__links {
                flex-direction: row;
            }

            &__item {
                transform: translateX(0);
                background-color: transparent;
                margin-bottom: 0;

                &:first-of-type {
                    padding-top: 1rem;
                    border-top-left-radius: 0;
                }

                &:last-of-type {
                    padding-bottom: 0;
                    border-bottom-left-radius: 0;
                }
            }

            &__link {
                padding: 1rem 0;
                border: none;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 3px;
                    background-color: colors.$complementary;

                    transform: scaleX(0);
                    transform-origin: left;
                    transition: all 0.7s;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;

                    width: 100%;
                    height: 3px;
                    background-color: colors.$complementary;

                    transform: scaleX(0);
                    transform-origin: right;
                    transition: all 0.7s;
                }

                &:hover::before,
                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }

        & .content {
            flex-direction: row;
            align-items: center;

            &__heading {
                order: -2;
                width: 555px;
                margin: 25rem 9rem 0 9rem;
                text-align: left;
            }

            &__dj-img {
                transform: translateY(5rem);
            }
        }

        & .button {
            margin-top: 12rem;

            &__line {
                &:nth-child(1),
                &:nth-child(3) {
                    height: 0.6rem;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    width: 0.6rem;
                }
            }
        }

        & .music-icon {
            bottom: 5rem;
            right: 5rem;
        }
    }
}
