@use "./../base/typography" as typo;
@use "./../base/colors" as colors;
@use "./../base/breakpoints" as mq;
@use "./../components/components" as *;

.our-djs {
    margin-top: 5rem;
    background-image: linear-gradient(rgba(5, 5, 28, 0.7), rgba(5, 5, 28, 0.7)), url(./../img/Common/bg-our-djs.png);
    background-size: cover;

    & .connector {
        @include connector;
        bottom: 0;
    }

    & .heading {
        font-size: typo.$heading-small;
        color: colors.$complementary;
        padding: 3rem 0;
        z-index: 10;

        &__plant {
            width: 30px;
        }
    }

    & .slider {
        display: flex;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
        padding-bottom: 3rem;

        &__container {
            display: flex;
            max-width: 90%;
            margin: 0 auto;
            padding: 0 20px;
            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        & .fas {
            font-size: 30px;
            color: colors.$complementary;
            margin: 0 5px;
            cursor: pointer;
        }

        &__card {
            margin-right: 2rem;
            transition: all 0.5s;
        }

        &__photo {
            width: 270px;
        }

        &__text {
            font-size: typo.$text-medium;
            color: colors.$tertiary;
            width: 270px;
            height: 430px;
            padding: 1.5rem;
            border: 2px solid colors.$complementary;
            border-radius: 0 0 1rem 1rem;
        }
    }
}

@media screen and (min-width: mq.$big) {
    .our-djs {
        & .heading {
            font-size: typo.$heading-big;

            &__plant {
                width: 48px;
            }
        }
    }
}
