@use "./../base/typography" as typo;
@use "./../base/colors" as colors;
@use "./../base/breakpoints" as mq;
@use "./../components/components" as *;

.our-djs {
    margin-top: 5rem;
    background-image: linear-gradient(rgba(5, 5, 28, 0.5), rgba(5, 5, 28, 0.5)), url(./../img/Common/bg-our-djs.png);
    position: relative;

    & .connector {
        @include connector;
        bottom: 0;
    }

    & .heading {
        font-size: typo.$heading-small;
        color: colors.$complementary;
        padding: 3rem 0;
        z-index: 10;

        &__plant {
            width: 30px;
        }
    }

    & .slider {
        display: flex;
        position: relative;

        & .fas {
            position: absolute;
            top: 270px;
            font-size: 30px;
            color: colors.$complementary;
        }

        & .fa-chevron-right {
            right: 15px;
        }

        & .fa-chevron-left {
            left: 15px;
        }

        &__card {
            margin: 0 auto 20px;
        }

        &__photo {
            width: 270px;
        }

        &__text {
            font-size: typo.$text-medium;
            color: colors.$tertiary;
            width: 270px;
            padding: 1.5rem;
            border: 2px solid colors.$complementary;
            border-radius: 0 0 1rem 1rem;
        }
    }
}
