@use "./../base/typography" as typo;
@use "./../base/colors" as colors;

@mixin btn-laser-base {
    position: relative;

    background-color: transparent;
    width: 15rem;
    height: 6rem;

    color: colors.$complementary;
    font-size: typo.$text-main;
    font-family: inherit;

    display: block;
    margin: 4rem auto 0;
    border: 0;

    overflow: hidden;
    transition: all 0.3s;
    cursor: pointer;
}

@mixin connector {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(transparent, colors.$background);
    position: absolute;
    bottom: 0;
}
