@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Berkshire+Swash&family=Bilbo+Swash+Caps&family=Roboto&display=swap");

$heading-big: 5rem;
$heading-medium: 4rem;
$heading-small: 3rem;

$text-main: 2rem;
$text-medium: 1.7rem;
$text-small: 1.5rem;

p {
    line-height: 150%;
}
