@import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Berkshire+Swash&family=Bilbo+Swash+Caps&family=Roboto&display=swap");

$heading-big: 5rem;
$heading-medium: 4rem;
$heading-small: 3rem;

$text-main: 2rem;
$text-medium: 1.7rem;
$text-small: 1.5rem;

h1 {
    font-family: Berkshire Swash, sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

p {
    line-height: 150%;
}

a {
    text-decoration: none;
}
